


main {
    margin-left: var(--sidebar-w);
    transition: all 0.3s ease-in-out;
    display: flex;
    background-color: var(--background);
   
    @media(max-width: 768px) {
        margin-left: 0;
    }

    
}


aside {
    position: fixed;
    height: 100vh;
    background-color: black;
    max-width: var(--sidebar-w);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

aside.collapse {
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
}

aside.collapse~main {
    width: 100%;
    margin-left: 0;
}


@media(max-width: 768px) {
    aside {
        transform: translateX(-100%);
    }

    main {
        margin-left: 0;
        width: 100%;
    }

    aside.collapse {
        transition: all 0.3s ease-in-out;
        transform: translateX(0);
    }

    aside.collapse~main {
        width: calc(100% - var(--sidebar-w));
        margin-left: var(--sidebar-w);
    }

}

.outlet{
    position: relative;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark);
    padding-right: var(--recent-w);
    height: 100%;
    margin-top: var(--navbar-h);
    background-color: var(--background);
    overflow: hidden;
    transition: all 0.3s ease-in;
    @media (max-width: 850px) {
        padding-right: 20px;
    }
}