


main {
    margin-left: var(--sidebar-w);
    transition: all 0.3s ease-in-out;
    display: flex;
    
    @media(max-width: 768px) {
        margin-left: 0;
    }

    
}
.outlet{
    padding: 20px;
    width: 100%;
    background-color: var(--dark);
    padding-right: var(--recent-w);
    height: 100%;
    margin-top: var(--navbar-h);
    overflow-x: hidden;
    @media (max-width: 850px) {
        padding-right: 20px;
    }
}