


main {
    margin-left: var(--sidebar-w);
    max-width: calc(100% - var(--sidebar-w));
    width: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
    

    
}
.outlet{
    padding: 10px;
    height: 100vh;
    max-width: 72em;
    width: 100%;
    background-color: var(--dark);
}