.recentplayed-wrapper {
    position: fixed;
    max-width: 380px;
    width: 100%;
    right: 0;
    flex-shrink: 0;
    overflow: auto;
    margin-bottom: 0;
    height: 100%;
   

    &::-webkit-scrollbar {
        display: none;
    }

    .history-wrapper {
        margin-top: 80px;
        padding: 20px;
        height: 100%;

        .page-title {
            color: var(--light);
            font-size: var(--fs-xxl);
        }
        .recently-wrapper {
            padding-bottom: 20px;
        }
        .recent-container {
            
            display: grid;
            grid-template-columns: 1fr max-content;
            width: 100%;
            align-items: center;
            cursor: pointer;
            margin-top: 10px;
            padding: 10px;

            &:hover {
               
                background-color: rgba(0, 0, 0, 0.3);
            }
            .duration {
                color: var(--light-dark);
                padding: 0 12px;
            }

            

            .recent-info {
                text-decoration: none;
                display: flex;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .album-image {
                    width: 56px;
                    height: auto;
                    margin-right: 12px;
                }
                .recent-artist-wrapper {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 10px;
                }
                .recent-title {
                    font-size: var(--fs-md);
                    font-weight: 500;
                    color: var(--foreground);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .recent-name {
                    font-weight: 400;
                    font-size: var(--fs-sm);
                    color: var(--light-dark);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

    }

    .seeMoreButton {
        position: relative;
        cursor: pointer;
        display: block;
        width: 100%;
        bottom: 0;
        outline: none;
        border: none;
        border-radius: 150px;
        font-size: var(--fs-lg);
        color: var(--foreground);
        background-color: var(--background);
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(255,255,255, 0.1);
        }

    }

    @media(max-width: 900px) {
        display: none;
    }
}