.search-wrapper {
    padding: 20px;
    
    width: 100%;
    height: var(--navbar-h);
    max-width: 350px;
    width: 100%;

    .searchInput {
        width: 100%;
        padding: 10px;
        border-radius: 150px;
        transition: all 0.1s ease-in-out;
        border: none;
        &:focus {

            outline-offset: -3px;
            outline: 3px solid var(--primary);
            border: none;
        }
    }

    .search-results-wrapper {
        background-color: black;
        margin-top: 10px;
        z-index: 10;
    }

    .track-wrapper {
        background-color: black;
       
        z-index: 10;
        cursor: pointer;
        padding: 10px;
        display: block;


        .tracks {
            display: flex;
            align-items: center;
            max-width: 400px;
            text-decoration: none;
            .album-image {
                max-width: 50px;
                width: 100%;
                height: auto;
                margin-right: 10px;
            }


            .artist-wrapper {
                display: inline-block;

                .artist-name{
                    color: var(--light-dark);
                    font-size: var(--fs-xs);
                    font-weight: 400;
                }

                .track-title {
                    font-weight: 500;
                    font-size: var(--fs-sm);
                    color: var(--foreground);
                }
            }

        }
    }
}