.sidebar-wrapper {  
    .logo-wrapper {
        display: flex;
        justify-content: center;
    
        .intone-logo {
            max-width: 150px;
            width: 100%;
            height: 100%;
        }

    }

    .user-wrapper {
        display: flex;
        align-items: center;
        margin-top: 30px;
        flex-direction: column;
        width: 100%;

        .avatar {
            margin-bottom: 20px;
            width: 110px;
            height: 110px;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid var(--primary);
        }

        .username {
            font-weight: 500;
            color: var(--foreground);
            z-index: 1;
        }


        .stats-wrapper {
            cursor: default;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            text-align: center;

            .stats-number {
                font-weight: 800;
                font-size: var(--fs-md);
                color: var(--primary);
                text-align: center;
            }

            .stats-label {
                font-weight: 400;
                font-size: var(--fs-xs);
                color: var(--light);
            }


        }
    }

    .menu-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        padding: 20px;

        & > * {
            display: flex;
            align-items: center;
            
         
            width: 100%;
            text-decoration: none;
            font-size: var(--fs-sm);
            color: var(--foreground);
            padding: 10px;
            border-radius: 150px;
            

            & :nth-child(1) {
                width: 26px;
                height: 26px;
                margin-right: 10px;
                margin-left: 20px;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            & .active{
                color: var(--primary);
            }
        }

    }

    .logoutButton {
        position: absolute;
        cursor: pointer;
        display: block;
        max-width: calc(100% - 40px);
        width: 100%;
        bottom: 0;
        outline: none;
        border: none;
        border-radius: 150px;
        font-size: var(--fs-xs);
        color: var(--foreground);
        background-color: var(--primary);
        padding: 10px;
        margin-bottom: 20px;
        letter-spacing: 1px;

        &:hover {
            background-color: var(--darker-primary);
        }

    }

}
