

.tracks-wrapper {
    margin-top: 40px;
    max-width: 1080px;
    width: 100%;
    overflow: hidden;
  
    .tracks-items {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .items-wrapper {
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            
            .track-image {
                width: 92px;
                height: 92px;

                @media(max-width: 768px) {
                    width: 64px;
                    height: 64px;
                }
            }
            .tracks-info {
                margin-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                

                .track-title {
                    font-size: var(--fs-lg);
                    color: var(--foreground);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 600;
                    transition: all 0.3s ease-in-out;
                }

                .track-artists {
                    font-size: var(--fs-md);
                    color: var(--light-dark);
                    font-weight: 500;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all 0.3s ease-in-out;
                }
            }
            
        }
        .track-duration {
            font-size: var(--fs-md);
            font-weight: 500;
            color: var(--light-dark);
            padding: 0 20px;
        }
    }
}
.seeAll{
    position: relative;
    cursor: pointer;
    display: block;
    max-width: 400px;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 150px;
    font-size: var(--fs-lg);
    color: var(--foreground);
    background-color: var(--background);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.3s ease;
 

    &:hover {
        background-color: rgba(255,255,255, 0.1);
    }

}